@using BackFinalEdu.Models
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var sliders = Model.sliders;
}

<d<!-- Background Area Start -->
        <section id="slider-container" class="slider-area">
            <div class="slider-owl owl-theme owl-carousel">
                <!-- Start Slingle Slide -->
            @foreach (var item in sliders)
            {
                             <div class="single-slide item" style="background-image: url(/assets/img/slider/@item.Image)">
                        <!-- Start Slider Content -->
                        <div class="slider-content-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-left-5">
                                        <div class="slide-content-wrapper">
                                            <div class="slide-content">
                                                <h3>@item.Title  </h3>
                                  
                                                <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                                                <a class="default-btn" href="about.html">@item.ButtonText</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div
                    <!-- Start Slider Content -->
                    </div>
            }
                <!-- End Slingle Slide -->
     
                <!-- End Slingle Slide -->
            </div>
        </section>
        <!-- Background Area End -->
