@model SpeakerCreateViewModel

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Create category</h4>
                <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo">Photo</label>
                        <input asp-for="Photo" class="form-control" placeholder="Image" accept="image/*">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="FullName" accept="image/*">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profession">Profession</label>
                        <input asp-for="Profession" class="form-control" placeholder="Profession" accept="image/*">
                        <span asp-validation-for="Profession" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Company">CompanyName</label>
                        <input asp-for="Company" class="form-control" placeholder="CompanyName  " accept="image/*">
                        <span asp-validation-for="Company" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button asp-controller="Teacher" asp-action="Index" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>